<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static\\css\\style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
    <h2>自動excelフォーム</h2>
<div class="boxes">
    <form action="/create" class="box"><form action="/" method="POST">
        <button class="btn btn1">新規作成</button>
    </form>
    <form action="/edit" class="box"><form action="/" method="POST">
        <button class="btn btn2">編集</button>
    </form>
    <form action="/add" class="box"><form action="/" method="POST">
        <button class="btn btn3">追加</button>
    </form>
    <form action="/graph" class="box"><form action="/" method="POST">
        <button class="btn btn4">グラフ化</button>
    </form> 
</div>   
<footer class="foot">
    <a href="">開発者</a>
</footer>
</body>
</html>